<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>First Crud - Painel</title>
	<link rel="stylesheet" type="text/css" href="/dashboard.css">

</head>
<body>

<main>
	<div class="info-divcla">
		<p>olá {{nome}}, bem vindo de volta.</br>este é um site criado para estudo de banco de dados e flask.</br>obrigado por testa-lo!</p><p><br>para alterar sua senha ou excluir sua conta entre nas <a href="" style="color:yellow;">configurações (não disponivel )</a> ou <a href="/logout" style="color: yellow;">sair</a> para desconectar.</p>
	</div>

</main>
</body>
</html>