<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8">
  <title>First Crud - login </title>
</head>
<body>
<!-- partial:index.partial.html -->
<!DOCTYPE html>
<html lang="pt">
<head>
	<title>Slide Navbar</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/login.css')}}">
	<link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>
<body>
	<div class="main">  
		<input type="checkbox" id="chk" aria-hidden="true">

			<div class="signup">
				<form action="/signup/validate">
					<label for="chk" aria-hidden="true">Sign up</label>
					<input type="text" name="user" placeholder="User name" required="">
					<input type="email" name="email" placeholder="Email" required="">
					<input type="password" name="pswd" placeholder="Password" required="">
					<button>Sign up</button>
				</form>
			</div>
			<div class="login">
				<form action="/login/validate">
					<label for="chk" aria-hidden="true">Login</label>
					<input type="email" name="email" placeholder="Email" required="">
					<input type="password" name="pswd" placeholder="Password" required="">
					<button>Login</button>
				</form>
	</div>
</div>
<div class="erro"></div>
</body>
</html>
  
</body>
<script type="text/javascript" src="{{url_for('static',filename='js/login.js')}}"></script>
</html>
